<section class="base-section">
	<div class="base-block page-block game-info-block">
		<div class="resources-block">
			<as-resource *ngFor="let typeRecource of listResources" [dataType]="typeRecource"></as-resource>
		</div>
		<div class="armories-block">
			<as-armory *ngFor="let typeArmory of listArmories" [dataType]="typeArmory"></as-armory>
		</div>
		<button type="button" class="order" (click)="onClickOrder()" [disabled]="lockOrder">Заказать</button>
	</div>
</section>

<section class="modal-section" *ngIf="gameInfo" [@toggleModal]="animationState">
	<div class="game-info">
		<h1 class="header">Ожидайте</h1>
		<h3 class="description">Начат процесс обработки данных сервером</h3>
		<h3 class="description">Приблизительное время обработки {{waitMin}} мин. {{waitSec}} сек.</h3>
		<h3 class="description">Интерфейс разблокируется после завершения обработки</h3>
	</div>
</section>
